# Git metadata
.git
.github
.gitignore

# Dependencies
node_modules

# Test/coverage
coverage
tests/
test/

# CI / tooling
provisioning/
scripts/

# Logs
npm-debug.log*

# Env files
.env
.env.*

# Docs / local dev files
*.md
docker-compose.yml
mise.toml
